{% extends 'base.html' %}

{% block main %}
<h1 class="page-header" id="pgheader">Add New Property</h1>

<div class="card text-left" style="width: 48rem; " id = "card">
<div class="card-body">
<form  action="{{ url_for('create') }}" method="POST" enctype="multipart/form-data">
  
  {{ form.csrf_token }}

  <div class="row mb-3">
    <div class="form-group">
    <h6>{{ form.title.label }}</h6>
      {{ form.title(class="form-control",placeholder="",required='required') }}
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="form-group">
    <h6>{{ form.text.label }}</h6>
      {{ form.text(class="form-control",placeholder="",rows=10, cols=40,required='required') }}
    </div>
  </div>  
  
  <div class = "row g-4">
    <div class="col-auto">
      <div class="form-group">
      <h6>{{ form.num_bed.label }}</h6>
          {{ form.num_bed(class="form-control",placeholder="3",required='required') }}
        </div>
      </div>

      <div class="col-auto">
        <div class="form-group">
        <h6>{{ form.num_bath.label }}</h6>
          {{ form.num_bath(class="form-control",placeholder="2",required='required') }}
        </div>
      </div>
  </div>    
  <div class = "row g-4">
      <div class="col-auto">
        <div class="form-group">
        <h6>{{ form.price.label }}</h6>
          {{ form.price(class="form-control",placeholder="15,000,000",required='required') }}
        </div>
      </div>

      <div class="col-auto">
        <div class = "form-select">
        <h6>{{ form.type.label }}</h6>
          {{ form.type }}
        </div>
      </div>  
  </div>
  
  <div class="row mb-3">
    <div class="form-group">
      <h6>{{ form.location.label }}</h6>
      {{ form.location(class="form-control",placeholder="10 Waterloo Rd",required='required') }}
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="form-group">
      <h6>{{ form.photo.label }}</h6>
      {{ form.photo(class="form-control")}}
    </div>
  </div>
  
  <div class="col-12">
    <button type="submit" name="submit" class="btn btn-primary">Upload New Property</button>
  </div>
  
</form>
</div>
</div>
{% endblock %}