{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>
{% include 'flash_messages.html' %}
<div class="container_view">
    {% for info in prop %}
        <div class = "grid_view">
        <div class="card text-left" style="width: 18rem;">
            <!-- tetsinf perposes -->
            {% set photo = subdiri ~ info.photo_name %}
            
            <img class="card-img-top" src="{{ url_for('get_image',filename = info.photo_name) }}" alt="Card image" width="250" height="200">
            <!-- testing perposes 
                <img class="card-img-top" src="{{ url_for('static',filename = photo) }}" alt="Card image" width="250" height="200"> -->
            <div class="card-body">
            <h5 class="card-title">{{ info.title }}</h5>
            <p class="card-text"></p>
            </div>
            <div class="card-body">
                {{ info.location }}
                <br>
                <div class="d-flex justify-content-start"><span class = "price"><h6> <i class="fa-solid fa-money-check-dollar"></i> {{ '$'~info.price }}</h6></span></div>
            </div>   
            <div class="card-body">
                <div class="d-grid gap-2">
                    <a href="{{ url_for('viewprop',id=info.id) }}" id ="btn" class="btn btn-lg btn-primary">View Property</a>
                </div>
            </div>
        </div>
    </div> 
    {% endfor %}  
    
</div>
{% endblock %}