{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>
<div class="container_view">
    {% for info in prop %}
        <div class = "grid_view">
        <div class="card text-center" style="width: 18rem;">
            {% set photo = rootdiri ~ info.photo_name %}
            <img class="card-img-top" src="{{ url_for('static',filename = photo) }}" alt="Card image" width="250" height="200">
            <div class="card-body">
            <h5 class="card-title">{{ info.title }}</h5>
            <p class="card-text"></p>
            </div>
            <div class="card-body">
                {{ info.location }}
                <br>
                {{ info.price }}
            </div>   
            <div class="card-body">
            <a href="{{ url_for('viewprop',id=info.id) }}" class="btn btn-primary">View Property</a>
            </div>
        </div>
    </div> 
    {% endfor %}  
    
</div>
{% endblock %}