{% extends 'base.html' %}

{% block main %}
<h1 class="page-header"></h1>


        <div class="card flex-row" >
            <!-- testing perposes -->
            {% set photo = rootdiri ~ view_prop.photo_name %}
            
            <img class="card-img-left" src="{{ url_for('get_image',filename = view_prop.photo_name ) }}" alt="Card image" width="470" height="490">
            <!-- testing perposes
                <img class=class="card-img-sm-left" src="{{ url_for('static',filename = photo) }}" alt="Card image" width="470" height="490"> -->
              
            <div class="card-body">
            <h5  class="card-title"> <i class="fa-solid fa-folder-open"></i> {{ view_prop.title }}</h5>
            <div class="d-flex justify-content-start"><span class = "price"><h6> <i class="fa-solid fa-money-check-dollar"></i> {{ '$'~view_prop.price }}</h6></span> <span class = "type"><h6>{{ view_prop.type }}</h6></span></div>

            <p class="card-text"></p>
        
            <p>{{ view_prop.text }}</p>
            <br>
            <div class = "d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight"><span class = "bed"><h6> <i class="fa-solid fa-bed"></i> {{ view_prop.num_bed }} Bedrooms</div></h6></span>
                <div class="p-2 bd-highlight"> <span class = "bath"><h6> <i class="fa-solid fa-bath"></i> {{ view_prop.num_bath }} Bathrooms</h6></span></div>
            </div>
            
            <h6> <i class="fa-solid fa-location-dot"></i> {{ view_prop.location }}</h6>
            <br>
            <a href="#" class="btn btn-primary">Email Realtor</a>
            </div>
        </div>
      
{% endblock %}